<section class="contenedor">
    <section class="seccion">
            <div class="nombre_sección">
                <div class="img_nombre">
                    <button onclick="window.history.back()"><img src="../Images/chevron_left.png"></button>
                    <h1>Preguntas Frecuentes</h1>
                </div>
                <div class="linea"></div>
            </div>
        <div class="accordion" id="accordionExample">
  <!-- Primer ítem -->
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            REALIZAR UN PEDIDO
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element.
        </div>
        </div>
    </div>
    
    <!-- Segundo ítem -->
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            PRECIO
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
        </div>
        </div>
    </div>
    
    <!-- Tercer ítem -->
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            FORMAS DE PAGO
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
        </div>
        </div>
    </div>

    <!-- Cuarto ítem -->
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            DEPÓSITO - TRANSFERNCIA BANCARIA
        </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>This is the fourth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
        </div>
        </div>
    </div>

    <!-- Quinto ítem -->
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ENVÍOS
        </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>This is the fifth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
        </div>
        </div>
    </div>

    <!-- Sexto ítem -->
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            FACTURACIÓN
        </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>This is the sixth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
        </div>
        </div>
    </div>
    </div>

    <!-- SECCIÓN_CONSULTAS -->
    <form class="form_ayuda">
        <p>Quality Electronics te ayuda. ¿Cuál es tu consulta?</p>
            <select class="form-select_ayuda">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        <textarea id="comentarios" name="comentarios" placeholder="Escribe tu mensaje aquí..."></textarea>
        <input type="submit" value="ENVIAR CONSULTA" class="enviar_consulta"> 
    </form>
    </section>
</section>