<section class="contenedor">
    <section class="seccion">
        <div class="nombre_sección">
            <div class="img_nombre">
                <button onclick="window.history.back()"><img src="../Images/chevron_left.png"></button>
                <h1>Carrito de compras</h1>
            </div>
            <div class="linea"></div>
        </div>
        <section class="cuenta_container">
            <div class="cuenta_option producto_option">
                <div class="nombre_sección2">
                    <p>Productos</p>
                    <div class="linea"></div>
                </div>
                <div class="productos_carrito">
                    <img class="img_carrito">
                    <p class="nombre_carrito">Notebook N14X1010 Ram 4Gb SSD 128GB Noblex</p>
                    <div class="suma_resta">
                        <div class="op op1">
                            <img src="../Images/remove.png">
                        </div>
                        <div class="op">
                            <p>X</p>
                        </div>
                        <div class="op op2">
                            <img src="../Images/add.png">
                        </div>
                    </div>
                    <div class="precio_carrito">
                        <p>1.000.000 $ARS</p>
                        <img src="../Images/delete.png">
                    </div>
                </div>
            </div>

            <div class="cuenta_option">
                <div class="nombre_sección2">
                    <p>Envío</p>
                    <div class="linea"></div>
                </div>
                <div class="cuenta_mensaje">
                    <p>Agregá un nuevo punto de envío o retiro</p>
                    <a href="">desde acá</a>
                </div>
            </div>

            <div class="cuenta_option producto_option">
                <div class="nombre_sección2">
                    <p>Pago</p>
                    <div class="linea"></div>
                </div>
                <div class="radio_container">
                    <div class="input_radio">
                        <input type="radio" value="" id="1">
                        <label>Depósito o Transferencia Bancaria</label>
                    </div>
                    <div class="input_radio">
                        <input type="radio" value="" id="2">
                        <label>Depósito o Transferencia Bancaria</label>
                    </div>                      
                    <div class="input_radio">
                        <input type="radio" value="" id="3">
                        <label>Depósito o Transferencia Bancaria</label>
                    </div>      
                </div>
            </div>

            <div class="terminos_condiciones_option">
                <div class="terminos">
                    <input type="checkbox">
                    <label>Al comprar, aceptas los </label>
                    <p>términos y condiciones</p>
                </div>
            </div>

            <div class="comprar_container">
                <h1 class="total">Total: 1.000.000 $ARS</h1>
                <button class="comprar_button">
                    <h1>COMPRAR</h1>
                </button>
            </div>
        </section>
    </section>
</section>
