<section class="contenedor">
    <section class="seccion">
        <div class="nombre_sección">
            <div class="img_nombre">
                <button onclick="window.history.back()"><img src="../Images/chevron_left.png"></button>
                <h1>Quiero una compu</h1>
            </div>
            <div class="linea"></div>
        </div>

        <div class="linea_filtros">
            <div class="circulos_container">
                <div class="container_circulo uno">
                    <p class="blanco_1">1</p>
                </div>
                <div class="container_circulo fondo2">
                    <p>2</p>
                </div>
                <div class="container_circulo">
                    <p>3</p>
                </div>
            </div>
            <div class="linea"></div>
        </div>

        <section class="form_container">
            <form action='@Url.Action("Filtros2","Home")' class="filtros1">
                <p class="pregunta_form">1. ¿Para qué vas a usar tu computadora?</p>
                <label>
                    <input type="checkbox" name="opcion" value="1">
                    Para trabajo de oficina o escuela (Word, Excel, correo, navegar, programar, etc.)
                    <span class="checkmark"></span>
                </label>

                <label>
                    <input type="checkbox" name="opcion" value="2">
                    Para jugar videojuegos (Fortnite, Minecraft, etc) (bajos o medianos requisitos)
                    <span class="checkmark"></span>
                </label>

                <label>
                    <input type="checkbox" name="opcion" value="3">
                    Para crear contenido o diseño (Photoshop, edición de videos, etc.)
                    <span class="checkmark"></span>
                </label>

                <label>
                    <input type="checkbox" name="opcion" value="4">
                    Para jugar videojuegos (Red Dead, Cyberpunk, etc) (altos requisitos)
                    <span class="checkmark"></span>
                </label>

                

                <input type="submit" value="SIGUIENTE PREGUNTA" class="submit_filtros">
            </form>

        </section>

    <!--
        <div>
            <img src="../Images">
        </div>
    -->
    </section>
</section>