<section class="contenedor">
    <section class="seccion">
        <div class="nombre_sección">
            <div class="img_nombre">
                <button onclick="window.history.back()"><img src="../Images/chevron_left.png"></button>
                <h1>Quiero una compu</h1>
            </div>
            <div class="linea"></div>
        </div>

        <div class="linea_filtros">
            <div class="circulos_container">
                <div class="container_circulo uno">
                    <img src="../Images/tick_filtros.png" class="tick_filtros">
                </div>
                <div class="container_circulo fondo2">
                    <p>2</p>
                </div>
                <div class="container_circulo">
                    <p>3</p>
                </div>
            </div>
            <div class="linea"></div>
        </div>

        <section class="form_container">
            <form class="filtros1">
                <p class="pregunta_form">2. ¿Cómo es tu presupuesto?</p>
                <label>
                    <input type="radio" value="">
                    Económico (Lo más barato posible, pero que funcione bien)
                    <span class="checkmark"></span>
                </label>

                <label>
                    <input type="radio" value="">
                    Medio (Un buen balance entre precio y rendimiento)
                    <span class="checkmark"></span>
                </label>

                <label>
                    <input type="radio" value="">
                    Elevado (Lo mejor que puedas comprar)
                    <span class="checkmark"></span>
                </label>

                <input type="submit" value="SIGUIENTE PREGUNTA" class="submit_filtros">
            </form>

        </section>

    <!--
        <div>
            
        </div>
    -->
    </section>
</section>