<div class="formulario">
    <form method="post">
        <h1>INICIAR SESIÓN</h1>
        <input type= "email" placeholder="Usuario / Email">
        <input type= "password" placeholder="Contraseña">
        <div class = "olvide-container">
            <a class = "olvide" href=> Olvidé la contraseña</a>
            <a class = "registrarse" href=> Registrarse</a>
        </div>
        <div class="enviar">
            <input type= "submit" href='@Url.Action("Index","Home")'>
        </div>
    </form>
</div>