<div class="formulario">
    <form method="post" action = '@Url.Action("Index","Home")'>
        <h1>INICIAR SESIÓN</h1>
        <input type= "email" placeholder="Email">
        <input type= "password" placeholder="Contraseña">
        <div class = "olvide-container">
            <a class = "registrarse" href= '@Url.Action("Registrarse","Home")'> Registrarse</a>
        </div>
        <div class="enviarinicio">
            <input type="submit">
        </div>
    </form>
</div>