<section class="contenedor">
    <section class="seccion">
        <div class="nombre_sección">
            <div class="img_nombre">
                <button onclick="window.history.back()"><img src="../Images/chevron_left.png"></button>
                <h1>Mi Cuenta</h1>
            </div>
            <div class="linea"></div>
        </div>
        <section class="cuenta_container">
            <div class="cuenta_option">
                <div class="nombre_sección2">
                    <p>Mis Preguntas</p>
                    <div class="linea"></div>
                </div>
                <div class="cuenta_mensaje">
                    <p>Podés ver las preguntas que hiciste y darle seguimiento</p>
                    <a href='@Url.Action("MisPreguntas","Home")'>desde acá</a>
                </div>
            </div>
            
            <div class="cuenta_option">
                <div class="nombre_sección2">
                    <p>Mis Domicilios</p>
                    <div class="linea"></div>
                </div>
                <div class="cuenta_mensaje">
                    <p>No tenes domicilios agregados</p>
                </div>
                <div class="agregar_dom" onclick="window.location.href='@Url.Action("MisDomicilios", "Home")'">
                    <img src="../Images/edit.png">
                    <p>Cambiar o agregar domicilio</p>
                </div>
            </div>
        </section>
    </section>
</section>
