<section class="contenedor">
    <section class="seccion">
        <div class="nombre_sección">
            <div class="img_nombre">
                <button onclick="window.history.back()"><img src="../Images/chevron_left.png"></button>
                <h1>Mis Compras</h1>
            </div>
            <div class="linea"></div>
        </div>

        <div class="cuenta_option dom_agregado">
            <div class="nombre_sección2">
                <p>Fecha
                </p>
                <div class="linea"></div>
            </div>
            @{
                if(ViewBag.ListaCompras.Count != 0)
                {
                    foreach(Preguntas_Motivo pregunta in ViewBag.ListaCompras)    // chequear logica para solicitar a la bd.  
                    {


                        //que pueda devolver @fecha, @nombre, @cantidad, @precio final

                        
                        <div class="productos_carrito">
                            <img class="img_carrito">
                            <p class="nombre_carrito">Notebook N14X1010 Ram 4Gb SSD 128GB Noblex</p>
                            <div class="suma_resta">
                                <div class="cantidad">
                                    <p>Cantidad:</p>
                                    <p>X</p>
                                </div>
                                <div class="op op2">
                                    <img src="../Images/add.png">
                                </div>
                            </div>
                            <div class="precio_carrito">
                                <p>Subtotal: </p>
                                <p>1.000.000 $ARS</p>
                                <img src="../Images/delete.png">
                            </div>
                        </div>
                    }
                    <p>Total: </p>
                    <p>1.000.000 $ARS</p>
                }
                else
                {
                    <div class="cuenta_mensaje">
                        <p>No tienes compras hechas</p>
                    </div>
                } 
            }
    </section>
</section>