<section class="contenedor">
    <section class="seccion">
        <div class="nombre_secci贸n">
            <div class="img_nombre">
                <button onclick="window.history.back()"><img src="../Images/chevron_left.png"></button>
                <h1>Mis Domicilios</h1>
            </div>
            <div class="linea"></div>
        </div>

        <div class="cuenta_option dom_agregado">
            <div class="nombre_secci贸n2">
                <p>Domicilios Agregados</p>
                <div class="linea"></div>
            </div>
            <div class="cuenta_mensaje">
                <p>No tienes domicilios cargados</p>
            </div>
        </div>

        <div class="cuenta_option">
            <div class="nombre_secci贸n2">
                <p>Ingrese un nuevo domicilio</p>
                <div class="linea"></div>
            </div>
            <div class="cuenta_mensaje">
                <form class="form_dom">
                    <input type="text" placeholder="Nombre del domicilio" autocomplete="off">
                    <input type="text" placeholder="Calle" autocomplete="off">
                    <input type="text" placeholder="Altura" autocomplete="off">
                    <input type="text" placeholder="C贸digo postal" autocomplete="off">
                    <input type="submit" value="Guardar Domicilio" class="enviar_dom">
                </form>
            </div>
        </div>
    </section>
</section>