<section class="contenedor">
    <section class="seccion">
        <div class="nombre_sección">
            <div class="img_nombre">
                <button onclick="window.history.back()"><img src="../Images/chevron_left.png"></button>
                <h1>Mis Preguntas</h1>
            </div>
            <div class="linea"></div>
        </div>

        <div class="cuenta_option dom_agregado">
            <div class="nombre_sección2">
                <p>Preguntas</p>
                <div class="linea"></div>
            </div>
            <div class="cuenta_mensaje">
                <p>No tienes preguntas cargados</p>
            </div>
    </section>
</section>