* {
    font-family: Ubuntu, sans-serif;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 167px;
    z-index: 1;
    background-color: #F5F5F5;
}


header {
    width: 100%;
    height: 172px;
    position: fixed;
    top: 0;
    z-index: 2000;
}

.nav_container, .nav_container2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_container {
    background-color: #fff;
}

.header1 {
    width: 1065px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.a_container {
    display: flex;
    align-items: center;
}
  
.logo {
    width: 244px;
    height: 82px;
}
    
.buscador {
    width: 500px;
    height: 60px;
    background-color: #D9D9D9;
    position: relative;
    display: flex;
    border-radius: 10px;
}

.buscador input {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    padding-left: 3%;
}

.buscador input:active {
    border: none;
}

.lupa {
    background-color: transparent;
    border: none;
}

.lupa .lupa_img {
    width: 42px;
    height: 42px;
}

.usuario {
    width: 200px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nombre_usuario {
    width: 120px;
    height: 20px;
    font-size: 16px;
    margin-top: 10px;
}

.user_img {
    width: 30px;
}

.desplegable {
    background-color: transparent;
    border: none;
}

.desplegable img {
    width: 10px;
}

.carrito {
    background-color: transparent;
    border: none;
}

.carrito img {
    width: 30px;
}

.nav_container2 {
    background-color: #000;
}

.header2 {
    width: 863px;
    height: 86px;
}

.header2 ul {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header2 ul li {
    list-style: none;

}

.header2 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

/*Index*/

main {
    width: 100%;
    background-color: #F5F5F5;
    margin-bottom: 50px;
}

.carousel-item {
    width: 100%;
    height: 406px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.IMGs_container {
    width: 100%;
    height: 694px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.IMGs_container2 {
    width: 1214px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.BIG {
    width: 100%;
    height: 363px;
}

.MED {
    width: 474px;
    height: 302px;
}

.TINY {
    width: 705px;
    height: 302px;
}

.destacados_container {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.destacados_container2 {
    width: 1214px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo_destacados {
    width: 100%;
    font-size: 32px;
    font-weight: bold;
}

.card {
    width: 249px;
    height: 367px;
    border-radius: 11px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}

.img_card {
    width: 247px;
    height: 160px;
    object-fit: contain;
}

.nombre_producto {
    width: 217px;
    height: 54px;
    overflow: hidden; /* Oculta el texto desbordado */
    display: -webkit-box; /* Para la compatibilidad con WebKit */
    -webkit-box-orient: vertical; /* Orientación vertical */
    -webkit-line-clamp: 2; /* Número de líneas visibles */
    text-overflow: ellipsis; /* Muestra "..." para el texto cortado */
    line-height: 1.2em; /* Ajusta el espacio entre líneas */
    font-size: 21px;
}

.info_card {
    width: 217px;
    height: 78px;
    align-self: baseline;
    margin-bottom: 10px;
}

.precio_card {
    font-size: 21px;
    font-weight: bold;
}

.button_producto {
    width: 100%;
    height: 41px;
}

.button_producto input{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 4px solid #B771AE;
    border-radius: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #B771AE;
    transition: .3s;
}

.button_producto input:hover {
    background-color: #B771AE;
    color: #fff;
}

/*footer*/
footer {
    width: 100%;
    height: 280px;
    margin-top: auto;
    background-color: #737373;
    display: flex;
    justify-content: center;
    z-index: 2000;
}

.footer_container {
    width: 850px;
    height: 100%;
}

.footer_def {
    width: 511px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.imgs_nav {
    width: 100%;
    height: 169px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.img_logos {
    width: 269px;
    height: 169px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.img_logos img {
    width: 269px;
    height: 105px;
}

.logos {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 22px;
}

.logos img {
    width: 40px;
    height: 40px;
}

.footer_nav {
    width: 194px;
    height: 149px;
    margin-top: 17px;
}

.footer_nav ul {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_nav ul li {
    list-style: none;
}

.footer_nav ul li a{
    color: #fff;
    text-decoration: none;
}

.copyright {
    font-size: 12px;
    color: #fff;
    align-self: flex-end;
}

/*Estilo de Views de productos*/

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
}

.seccion {
    width: 1092px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.nombre_sección {
    width: 100%;
    height: 38px;
    margin-bottom: 50px;
}

.linea {
    border-top: 1px solid #000;
}

.img_nombre {
    display: flex;
    align-items: center;
}

.img_nombre button {
    background-color: transparent;
    border: none;
}

.img_nombre button img{
    width: 30px;
}

.img_nombre h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 5px;
}

.cards_container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}



/*Ayuda*/

.accordion {
    margin-top: 25px;
}

/* Estilo para la flecha en el estado normal (abierto) */
.accordion-button::after {
    font-family: "Font Awesome 5 Free"; /* Asegúrate de que FontAwesome está cargado */
    content: '\f107'; /* Este es el ícono de la flecha hacia abajo en FontAwesome */
    font-weight: 900; /* Establece el peso del ícono en negrita */
    font-size: 1.25em; /* Tamaño de la flecha */
    color: #B771AE;  /* Color de la flecha */
    transform: rotate(0deg); /* Flecha hacia abajo por defecto */
    transition: transform 0.2s; /* Animación suave al rotar la flecha */
}

/* Estilo para cuando el acordeón está cerrado (flecha rotada) */
.accordion-button.collapsed::after {
    transform: rotate(180deg); /* Rota la flecha cuando está cerrado */
}

textarea {
    width: 1050px;
    height: 235px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    resize: none; /* Desactiva el redimensionado */
    margin-top: 30px;
}
  
  textarea:focus {
    outline: none;
    border-color: #B771AE;
    box-shadow: 0 0 5px rgba(183, 113, 174, 0.5);
}

.enviar_consulta {
    width: 180px;
    height: 36px;
    background-color: #fff;
    border: 4px solid #B771AE;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #B771AE;
    transition: .3s;
}

.enviar_consulta:hover {
    background-color: #B771AE;
    color: #fff;
}

.accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: '\f077';
    font-weight: 900;
    font-size: 1.25em;
    color: #B771AE;
    font-size: 20px;
    background-image: unset;
    transform:unset
}

.accordion-button:not(.collapsed)::after {background-image:unset;transform:unset;}

.form-select_ayuda {
    width: 1057px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000;
}

.form_ayuda {
    width: 1086px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form_ayuda p {
    width: 100%;
    font-size: 20px;
    color: #B771AE;
    padding-top: 10px;
    padding-left: 10px;
}


.enviar_consulta:hover {
    background-color: #B771AE;
    color: #fff;
}

.accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: '\f077';
    font-weight: 900;
    font-size: 1.25em;
    color: #B771AE;
    font-size: 20px;
    background-image: unset;
    transform:unset
}

.accordion-button:not(.collapsed)::after {background-image:unset;transform:unset;}

.form-select_ayuda {
    width: 1057px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000;
}

.form_ayuda p {
    width: 100%;
    font-size: 20px;
    color: #B771AE;
    padding-top: 10px;
    padding-left: 10px;
}



/*Inicio de sesion*/
.registrarse{
    margin-left: auto;
    margin-right: 10%;
}
.olvide{
    margin-left: 10%;
}

.formulario a{
    text-decoration: none;
    color: #B771AE;
    transition: .3s;
}



/*Inicio de Sesion*/
.formulario {
    text-align: center;
    background-color: #222222;
    margin-left: 34%;
    margin-top: 3%;
    width: 580px;
    height: 530px;
}

.formulario form{
    display: flex;
    flex-direction: column;
}
.olvide-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.formulario h1{
    color: #B771AE;
    margin-bottom: 15%;
    padding-top: 5%;
}

.formulario input{
    background-color: #323232;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
}
.registrarse{
    margin-left: auto;
    margin-right: 10%;
}
.olvide{
    margin-left: 10%;
}

.formulario a{
    text-decoration: none;
    color: #B771AE;
    transition: .3s;
}

.gordo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formularioRegistrarse
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222222;
    margin-top: 70px;
    width: 580px;
    height: 530px;
}


.formularioRegistrarse h1{
    color: #B771AE;
    margin-bottom: 7%;
    padding-top: 5%;
}

.formularioRegistrarse input{
    
    background-color: #323232;
    border: none;
    margin-bottom: 33px;
    height: 50px;
    margin-right: 15px;
    padding-left: 2%;
}
.enviarregistro input{
    background-color: #B771AE;
    color: #fff;
    font-size: 25px;
    width: 97%;
}
.enviarregistro {

    margin-bottom: 40px;
    height: 50px;
    
}

.text
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.text input{
    width: 50%;
}

.enviarinicio input{
    background-color: #B771AE;
    margin-top: 40px;
    height: 50px;
    width: 90%;
    color: #fff;
    font-size: 25px;
}

.pichulon{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pichulon input{
    width: 480px;

    padding-left: 0%;
    font-size: 130%;
}

.accordion-button:focus, .accordion-button:not(.collapsed){
    border: none;
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 1);
}

/*Mi Cuenta*/

.cuenta_container {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.cuenta_option {
    width: 100%;
    min-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.nombre_sección2 {
    width: 98%;
    height: 38px;
    align-self: flex-start;
    margin-top: 5px;
}

.nombre_sección2 p {
    font-size: 19px;
    font-weight: bold;
    padding-left: 10px;
}

.cuenta_mensaje {
    width: 98%;
}

.cuenta_mensaje p {
    width: 38%;
    display: inline;
    font-size: 14px;
}

.cuenta_mensaje a {
    color: #B771AE;
    font-size: 14px;
}

.agregar_dom {
    width: 182px;
    display: flex;
    justify-content: space-between;
    height: 26px;
    position: absolute;
    bottom: 5px;
}

.agregar_dom img {
    width: 20px;
    height: 20px;
}

.agregar_dom p {
    color: #178FEB;
    font-size: 12px;
    margin-top: 2px;
}

.agregar_dom:hover {
    cursor: pointer;
}

/*Carrito*/

.estrellas_input {
    margin-bottom: 20px;
}

.modal-body p {
    color: #fff;
}

.producto_option {
    min-height: none;
}

.producto_option {
    width: 100%;
    min-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.productos_carrito {
    margin-top: 20px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.img_carrito {
    width: 110px;
    height: 95px;
    object-fit: cover;
}

.nombre_carrito {
    font-size: 20px;
    margin-top: 15px;
}

.suma_resta {
    width: 109px;
    height: 46px;
    border: 3px solid #B771AE;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.op {
    width: 37px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #fff;
}

.img_op {
    width: 20px;
    height: 20px;
}

.op img, .op p {
    width: 20px;
    height: 20px;
}

.op p {
    text-align: center;
    margin-top: 12px;
}

.op1 {
    border-right: 3px solid #B771AE;
}

.op2 {
    border-left: 3px solid #B771AE;
}

.op1:hover, .op2:hover {
    cursor: pointer;
}

.precio_carrito {
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio_carrito p {
    font-size: 20px;
    margin-top: 15px;
}

.precio_carrito img {
    width: 30px;
    height: 30px;
}

.radio_container {
    width: 94%;
    display: flex;
    flex-wrap: wrap;
}

.input_radio {
    width: 100%;
}

.terminos_condiciones_option {
    width: 1086px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminos {
    width: 98%;
    height: 100%;
    display: flex;
    align-items: center;
}

.terminos input {
    width: 30px;
    height: 30px;
}

.terminos label {
    margin-left: 15px;
}

.terminos p {
    margin-top: 16px;
    margin-left: 5px;
    color: #000;
}

.modal {
    z-index:20000 ;
}

.comprar_container {
    width: 1086px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
}

.comprar_container h1{
    font-size: 23px;
}

.comprar_button {
    width: 217px;
    height: 40px;
    background-color: #B771AE;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

.total {
    color: #4675B9;
    margin-top: 8px;
}


/*Producto*/

.producto_container {
    margin-top: 50px;
    width: 1340px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}

.seccion1 {
    width: 1096px;
    height: 454px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.imgs_prodcuto {
    width: 500px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.img_ppal {
    width: 500px;
    height: 350px;
}

.sub_imgs {
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.sub_imgs img {
    width: 111.34px;
    height: 80px;
}

.datos_producto {
    width: 500px;
    height: 444px;
    display: flex;
    flex-wrap: wrap;
}

.info1 {
    width: 500px;
    height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nombre_producto2 {
    font-size: 32px;
    font-weight: none;
}

.precio_prodcuto {
    font-size: 44px;
}

.add_carrito {
    width: 500px;
    height: 60px;
    background-color: #B771AE;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    align-self: flex-end;
    margin-bottom: 5px;
}

.add_carrito2 {
    width: 500px;
    height: 60px;
    background-color: #9b6193;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: #ccc;
    font-weight: bold;
    align-self: flex-end;
    margin-bottom: 5px;
}

.form_addCarrito {
    width: 500px;
    height: 60px;
}

.seccion2 {
    width: 1205px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #000;
    padding-top: 20px;
}

.nombre_seccion {
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.sub_seccion {
    width: 350px;
}

.nombre_sec {
    font-size: 24px;
    font-weight: bold;
}

.lista_datos {
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.lista_datos li {
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.lista_datos li p {
    font-size: 16px;
}

.campo {
    font-weight: bold;
}

.seccion3 {
    width: 1205px;
    border-top: 1px solid #000;
    padding-top: 20px;
}

.texto_descripcion {
    width: 100%;
}

.texto_descripcion p {
    margin-bottom: 30px;
}

.seccion4 {
    width: 1205px;
    border-top: 1px solid #000;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.valoracion {
    width: 100%;
    text-align: center;
    font-size: 128px;
}

.estrellas {
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.estrellas img {
    width: 40px;
    height: 40px;
}

.tipo_reseña_container {
    width: 100%;
    height: 100px;
    background-color: #D9D9D9;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.tipo_reseña {
    width: 206px;
    height: 37px;
    border-bottom: 1px solid #000;
}

.tipo_reseña p {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.reseña {
    width: 1215px;
    margin-bottom: 30px;
}

.estrellas_reseña img {
    width: 30px;
    height: 30px;
}

.rating_reseña {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.seccion5 {
    width: 1205px;
    border-top: 1px solid #000;
    padding-top: 20px; 
}

.seccion5 form {
    width: 75%;
}

.seccion5 p {
    font-size: 20px;
    font-weight: bold;
}

.estrellas_reseña2 {
    margin-bottom: 20px;
}

.reseña_content {
    width: 900px;
    height: 300px;
    margin: 0;
}

.publicar {
    width: 180px;
    height: 36px;
    background-color: #fff;
    border: 4px solid #B771AE;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #B771AE;
    transition: .3s;
}

.publicar:hover {
    background-color: #B771AE;
    color: #fff;
}

.seccion_relacionados {
    width: 1205px;
    border-top: 1px solid #000;
    padding-top: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.relacionados {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}


/*Filtros 1*/

.linea_filtros {
    width: 1093px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.linea_filtros .linea {
    width: 1070px;
}

.circulos_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -20px;
}


.container_circulo {    
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 3px solid #B771AE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container_circulo p {
    width: 14px;
    height: 20px;
    font-size: 24px;
    color: #B771AE;
    font-weight: bold
}

p.blanco_1 {
    color: #fff;
}

.uno {
    background-color: #B771AE;
}

.form_container {
    width: 1086px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 60px;
    padding-left: 10px;
}

.form_container form {
    padding: 10px;
}

.pregunta_form {
    font-size: 19px;
    font-weight: bold;
}

.filtros1 {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}


.filtros1 label {
    width: 100%;
    display: flex;
}

.filtros1 label input{
    width: 25px;
    height: 25px;
    accent-color: #B771AE;
    margin-right: 15px;
}

.filtros1 label {
    font-size: 15px;
    font-weight: bold;
}


.submit_filtros {
    margin-top: 20px;
    width: 220px;
    height: 36px;
    background-color: #fff;
    border: 4px solid #B771AE;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    color: #B771AE;
    transition: .3s;
}

.submit_filtros:hover {
    background-color: #B771AE;
    color: #fff;
}

.tick_filtros {
    width: 40px;
    height: 40px;
}

#fondo2_2 {
    background-color: #fff;
}

#fondo2_2 p {
    color: #B771AE;
}

.fondo2 {
    background-color: #B771AE;
}

.fondo2 p {
    color: #fff;
}


.accordion .accordion-button:focus{
    border: none!important;
    /* background-color: transparent; */
    box-shadow: none!important;
}

.displayNone {
    display: none;
}

/*Registrarse*/

.signUp_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -83%);
    width: 580px;
    min-height: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #222222;
    margin-top: 50px;
    z-index: 1000;
}

.signUp_title {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    color: #B771AE;
    font-weight: bold;
}

.signUp_inputs {
    width: 510px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24.5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.signUp_submit {
    width: 510px;
    height: 60px;
    background-color: #B771AE;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    border: none;
}

.name, .surname, .password, .password2 {
    width: 240px;
    height: 60px;
    background-color: #323232;
    color: #737373;
    padding-left: 10px;
    border: none;
}

.mail, .phone, .password_login {
    width: 510px;
    height: 60px;
    background-color: #323232;
    color: #737373;
    padding-left: 10px;
    border: none;
}

.input_border:focus {
    border-bottom: 5px solid #B771AE;
    outline: none;
}

.alert-danger {
    height: 60px;
    background-color: #700;
    color: #fff;
}
/*Login*/

.signIn_inputs {
    align-self: flex-end;
    margin-bottom: 30px;
    width: 510px;
    height: 311px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.inputs_a {
    width: 510px;
    height: 206px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.inputs_a a {
    justify-self: flex-end;
    color: #B771AE;
    font-size: 15px;
    text-decoration: none;
}


/*Animación cuadrados violetas*/

.contenedorAnimado {
    position: absolute;
    display: flex;
	width: 100vw;
    height: 100vh;
    justify-content: center;
	align-items: center;
    gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
    background-color: #000;
}

.contenedorAnimado::before 
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,#B771AE,#000);
	animation: animate 5s linear infinite;
}
@keyframes animate 
{
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}
.cubo 
{
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background: #181818;
	z-index: 2;
	transition: 1.5s;
}
.cubo:hover 
{
	background: #B771AE;
	transition: 0s;
}


body 
{
	display: flex;
	justify-content: center;
	align-items: center;
    max-width: 100vw;
	min-height: 100vh;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-thumb{
	background: #B771AE;
    border-radius: 10px;
}


/*Mis Domicilios*/

.form_dom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 20px;
}

.form_dom input {
    width: 98%;
    height: 40px;
    padding-left: 6px;
}

.form_dom input:focus {
    outline: none;
}

.enviar_dom {
    background-color: #fff;
    color: #B771AE;
    font-weight: bold;
    border: 3px solid #B771AE;
    border-radius: 8px;
    transition: .2s;
}

.enviar_dom:hover {
    background-color: #B771AE;
    color: #fff;
}

.dom_agregado {
    margin-bottom: 30px;
}


/*Estilado camino del usuario no iniciado*/

.sesion_continuar {
    font-size: 35px;
    color: #333;
}

.sesionMensaje_container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion_1, .seccion_2 {
    width: 1092px;
    margin-top: 35px;
    margin-bottom: 50px;
}

/* ESTRELLAS */
.estrellas {
    display: flex;
    direction: row;
}

.estrella {
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.estrella:focus {
    color: #B771AE;
}

.estrella.seleccionada {
    color: #B771AE;
}

/* ESTRELLAS */



/*Mis Preguntas*/

.pregunta {
    width: 95%;
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.motivo_preguntinia {
    font-weight: bold;
    font-size: 18px;
}


/*Terminos y condiciones*/

.titulo_terminos {
    font-weight: bold;
}





/* Estilo de carrito 7/4 */
.trash {
    background-color: transparent;
    border: 0;
}

.trash:hover {
    cursor: pointer;
}


.trash_cont {
    width: 35px;
    height: auto;
}

.trash_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.empty_Cart {
    font-weight: bold;
}


/* Mis Compras */

.lista_prods {
    padding: 0;
}

.elemento_compra {
    height: 40px;
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.elemento_compra p {
}