* {
    font-family: Ubuntu, sans-serif;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 167px;
    z-index: 1;
    background-color: #F5F5F5;
}


header {
    width: 100%;
    height: 172px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav_container, .nav_container2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_container {
    background-color: #fff;
}

.header1 {
    width: 1065px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
  
.logo {
    width: 244px;
    height: 210px;
    position: relative;
    top: 15px;
}
    
.buscador {
    width: 500px;
    height: 60px;
    background-color: #D9D9D9;
    position: relative;
    display: flex;
    border-radius: 10px;
}

.buscador input {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    padding-left: 3%;
}

.buscador input:active {
    border: none;
}

.lupa {
    background-color: transparent;
    border: none;
}

.lupa .lupa_img {
    width: 42px;
    height: 42px;
}

.usuario {
    width: 200px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nombre_usuario {
    width: 120px;
    height: 20px;
    font-size: 16px;
    margin-top: 10px;
}

.user_img {
    width: 30px;
}

.desplegable {
    background-color: transparent;
    border: none;
}

.desplegable img {
    width: 10px;
}

.carrito {
    background-color: transparent;
    border: none;
}

.carrito img {
    width: 30px;
}

.nav_container2 {
    background-color: #000;
}

.header2 {
    width: 863px;
    height: 86px;
}

.header2 ul {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header2 ul li {
    list-style: none;

}

.header2 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

/*Index*/

main {
    width: 100%;
    background-color: #F5F5F5;
}

.carousel-item {
    width: 100%;
    height: 406px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.IMGs_container {
    width: 100%;
    height: 694px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.IMGs_container2 {
    width: 1214px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.BIG {
    width: 100%;
    height: 363px;
}

.MED {
    width: 474px;
    height: 302px;
}

.TINY {
    width: 705px;
    height: 302px;
}

.destacados_container {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.destacados_container2 {
    width: 1214px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo_destacados {
    width: 100%;
    font-size: 32px;
    font-weight: bold;
}

.card {
    width: 249px;
    height: 367px;
    border-radius: 11px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}

.img_card {
    width: 275.35px;
    height: 160px;
    background-color: #ccc;
}

.nombre_producto {
    width: 217px;
    height: 54px;
    overflow: hidden; /* Oculta el texto desbordado */
    display: -webkit-box; /* Para la compatibilidad con WebKit */
    -webkit-box-orient: vertical; /* Orientación vertical */
    -webkit-line-clamp: 2; /* Número de líneas visibles */
    text-overflow: ellipsis; /* Muestra "..." para el texto cortado */
    line-height: 1.2em; /* Ajusta el espacio entre líneas */
    font-size: 21px;
}

.info_card {
    width: 217px;
    height: 78px;
    align-self: baseline;
    margin-bottom: 10px;
}

.precio_card {
    font-size: 21px;
    font-weight: bold;
}

.info_card button {
    width: 100%;
    height: 41px;
    background-color: #fff;
    border: 4px solid #B771AE;
    border-radius: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #B771AE;
    transition: .3s;
}

.info_card button:hover {
    background-color: #B771AE;
    color: #fff;
}

/*footer*/
footer {
    width: 100%;
    height: 280px;
    margin-top: auto;
    background-color: #737373;
    display: flex;
    justify-content: center;
}

.footer_container {
    width: 850px;
    height: 100%;
}

.footer_def {
    width: 511px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.imgs_nav {
    width: 100%;
    height: 169px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.img_logos {
    width: 269px;
    height: 169px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.img_logos img {
    width: 269px;
    height: 105px;
}

.logos {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 22px;
}

.logos img {
    width: 40px;
    height: 40px;
}

.footer_nav {
    width: 194px;
    height: 149px;
    margin-top: 17px;
}

.footer_nav ul {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_nav ul li {
    list-style: none;
}

.footer_nav ul li a{
    color: #fff;
    text-decoration: none;
}

.copyright {
    font-size: 12px;
    color: #fff;
    align-self: flex-end;
}

/*Estilo de Views de productos*/

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
}

.seccion {
    width: 1092px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.nombre_sección {
    width: 100%;
    height: 38px;

}

.linea {
    border-top: 1px solid #000;
}

.img_nombre {
    display: flex;
    align-items: center;
}

.img_nombre button {
    background-color: transparent;
    border: none;
}

.img_nombre button img{
    width: 30px;
}

.img_nombre h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 5px;
}

.cards_container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}



/*Ayuda*/

.accordion {
    margin-top: 25px;
}

/* Estilo para la flecha en el estado normal (abierto) */
.accordion-button::after {
    font-family: "Font Awesome 5 Free"; /* Asegúrate de que FontAwesome está cargado */
    content: '\f107'; /* Este es el ícono de la flecha hacia abajo en FontAwesome */
    font-weight: 900; /* Establece el peso del ícono en negrita */
    font-size: 1.25em; /* Tamaño de la flecha */
    color: #B771AE;  /* Color de la flecha */
    transform: rotate(0deg); /* Flecha hacia abajo por defecto */
    transition: transform 0.2s; /* Animación suave al rotar la flecha */
}

/* Estilo para cuando el acordeón está cerrado (flecha rotada) */
.accordion-button.collapsed::after {
    transform: rotate(180deg); /* Rota la flecha cuando está cerrado */
}

textarea {
    width: 1050px;
    height: 235px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    resize: none; /* Desactiva el redimensionado */
    margin-top: 30px;
}
  
  textarea:focus {
    outline: none;
    border-color: #B771AE;
    box-shadow: 0 0 5px rgba(183, 113, 174, 0.5);
}

.enviar_consulta {
    width: 180px;
    height: 36px;
    background-color: #fff;
    border: 4px solid #B771AE;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #B771AE;
    transition: .3s;
}

.enviar_consulta:hover {
    background-color: #B771AE;
    color: #fff;
}

.accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: '\f077';
    font-weight: 900;
    font-size: 1.25em;
    color: #B771AE;
    font-size: 20px;
    background-image: unset;
    transform:unset
}

.accordion-button:not(.collapsed)::after {background-image:unset;transform:unset;}

.form-select_ayuda {
    width: 1057px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000;
}

.form_ayuda {
    width: 1086px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form_ayuda p {
    width: 100%;
    font-size: 20px;
    color: #B771AE;
    padding-top: 10px;
    padding-left: 10px;
}


.enviar_consulta:hover {
    background-color: #B771AE;
    color: #fff;
}

.accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: '\f077';
    font-weight: 900;
    font-size: 1.25em;
    color: #B771AE;
    font-size: 20px;
    background-image: unset;
    transform:unset
}

.accordion-button:not(.collapsed)::after {background-image:unset;transform:unset;}

.form-select_ayuda {
    width: 1057px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000;
}

.form_ayuda p {
    width: 100%;
    font-size: 20px;
    color: #B771AE;
    padding-top: 10px;
    padding-left: 10px;
}



/*Inicio de sesion*/
.registrarse{
    margin-left: auto;
    margin-right: 10%;
}
.olvide{
    margin-left: 10%;
}

.formulario a{
    text-decoration: none;
    color: #B771AE;
    transition: .3s;
}



/*Inicio de Sesion*/
.formulario {
    text-align: center;
    background-color: #222222;
    margin-left: 34%;
    margin-top: 3%;
    width: 580px;
    height: 530px;
}

.formulario form{
    display: flex;
    flex-direction: column;
}
.olvide-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.formulario h1{
    color: #B771AE;
    margin-bottom: 15%;
    padding-top: 5%;
}

.formulario input{
    background-color: #323232;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
}
.registrarse{
    margin-left: auto;
    margin-right: 10%;
}
.olvide{
    margin-left: 10%;
}

.formulario a{
    text-decoration: none;
    color: #B771AE;
    transition: .3s;
}

.gordo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formularioRegistrarse
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222222;
    margin-top: 70px;
    width: 580px;
    height: 530px;
}


.formularioRegistrarse h1{
    color: #B771AE;
    margin-bottom: 7%;
    padding-top: 5%;
}

.formularioRegistrarse input{
    
    background-color: #323232;
    border: none;
    margin-bottom: 33px;
    height: 50px;
    margin-right: 15px;
    padding-left: 2%;
}
.enviarregistro input{
    background-color: #B771AE;
    color: #fff;
    font-size: 25px;
    width: 97%;
}
.enviarregistro {

    margin-bottom: 40px;
    height: 50px;
    
}

.text
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.text input{
    width: 50%;
}

.enviarinicio input{
    background-color: #B771AE;
    margin-top: 40px;
    height: 50px;
    width: 90%;
    color: #fff;
    font-size: 25px;
}

.pichulon{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pichulon input{
    width: 480px;

    padding-left: 0%;
    font-size: 130%;
}

.accordion-button:focus, .accordion-button:not(.collapsed){
    border: none;
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 1);
}

